@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'Open_Sans';
  src: url('../fonts/open_sans/OpenSans-SemiBold.ttf');
  src: url('../fonts/open_sans/OpenSans-Regular.ttf');
}
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-SemiBold.ttf');
}
@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/Helvetica/HelveticaNeueCyr-Bold.woff2') format('woff2'), url('../fonts/Helvetica/HelveticaNeueCyr-Bold.woff') format('woff'), url('../fonts/Helvetica/HelveticaNeueCyr-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
/*Первый экран*/
.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 600;
  min-height: 600px;
  /*&-menuAdaptiv{
		& ul{
			list-style: none;
			padding-left: 0;
			margin-left: 50px;
			padding-top: 60px;
		}
		& li{
			padding-bottom: 20px;
		}
		
		& a{
			&:hover{
				color: #0B7ED6;
				text-decoration: none;
			}
		}
		&-link{
			color: #000;
		}
	}
	&-contactAdaptiv{
		&-tel{
			position: relative;
			padding-left: 50px;
			margin-bottom: 10px;
			.open();
			font-weight: normal;
			font-size: 14px;
			&:before{
				content: '';
				position: absolute;
				width: 24px;
				height: 24px;
				background: url(../img/menuAdaptiv/phone.png) center no-repeat;
				margin-left: -37px;
			}
		}
		&-grafik{
			position: relative;
			padding-left: 50px;
			margin-bottom: 10px;
			.open();
			font-weight: normal;
			font-size: 14px;
			&:before{
				content: '';
				position: absolute;
				width: 24px;
				height: 24px;
				background: url(../img/menuAdaptiv/phone.png) center no-repeat;
				margin-left: -37px;
			}
		}
		&-address{
			position: relative;
			padding-left: 50px;
			margin-bottom: 23px;
			.open();
			font-weight: normal;
			font-size: 14px;
			&:before{
				content: '';
				position: absolute;
				width: 24px;
				height: 24px;
				background: url(../img/menuAdaptiv/phone.png) center no-repeat;
				margin-left: -37px;
			}
		}
	}
	&-socialNetw{
		text-align: center;
		padding-bottom: 20px;
		& img{
			margin-right: 4px;
		}
	}*/
}
.main-position {
  display: none;
}
.main-header {
  display: flex;
  align-items: center;
  height: 10vh;
  justify-content: space-between;
  /*&-menu ul li a::after{
			content:'';
			display: block;
			width: 100%;
			height: 2px;
			background-color: #0B7ED6;
			transform: scale(0);
		}
		&-menu ul li a:hover::after{
			transform: scale(1);
		}*/
}
.main-header-menu {
  width: 60%;
}
.main-header-menu a {
  text-decoration: none;
  position: relative;
}
.main-header-menu a:focus {
  outline: none !important;
}
.main-header-menu a:hover {
  color: #0B7ED6;
}
.main-header-menu a:hover:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #0B7ED6;
  margin-top: 48px;
}
.main-header-menu a:before {
  content: '';
  display: block;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #0B7ED6;
  margin-left: 1%;
  margin-top: 48px;
  transition: 0.2s;
}
.main-header-menu-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #000;
  position: relative;
}
.main-header-menu-link:hover:before {
  content: '';
  display: block;
  position: absolute;
  width: 91%;
  height: 2px;
  background-color: #0B7ED6;
  margin-left: 1%;
  margin-top: -25px;
}
.main-header-menu ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin-bottom: 0;
}
.main-header-menu ul:hover {
  color: #0B7ED6;
  text-decoration: none;
}
.main-header-contact {
  width: 148px;
}
.main-header-contact img {
  width: 42px;
  height: 42px;
}
.main-header-tel {
  width: 178px;
}
.main-header-tel p {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 0;
}
.main-header-tel span {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 12px;
}
.main-header-telAdaptiv {
  display: none;
  font-size: 10px;
  font-weight: 500;
}
.main-header-burger {
  display: none;
}
.main-text {
  background: #F6F6F6 url(../img/fon/1.png) no-repeat;
  background-position: 86% bottom;
  position: relative;
  text-align: left;
}
.main-text:focus {
  outline: none !important;
}
.main-text .container {
  height: 90vh;
}
.main-text h1 {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 38px;
  margin-bottom: 20px;
  padding-top: 130px;
}
.main-text span {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  padding-top: 20px;
  color: #0B7ED6;
}
.main-text p {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 70px;
}
.main-text-btn {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: #fff;
  padding: 15px 30px;
  border-radius: 5px;
  border: none;
  background-color: #FF0000;
}
.main-text1 {
  background: #F6F6F6 url(../img/fon/2.png) no-repeat;
  background-position: 86% bottom;
  position: relative;
  text-align: left;
}
.main-text1:focus {
  outline: none !important;
}
.main-text1 .container {
  height: 90vh;
}
.main-text1-head {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 38px;
  margin-bottom: 20px;
  padding-top: 130px;
}
.main-text1-description {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  padding-top: 20px;
  color: #0B7ED6;
}
.main-text1-headForAdaptiv767 {
  display: none;
}
.main-text1-descriptionForAdaptiv767 {
  display: none;
}
.main-text1-descriptionDesign {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 5px;
}
.main-text1-descriptionDesignTwo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 35px;
}
.main-text1-btn {
  font-size: 14px;
  color: #fff;
  padding: 14px 35px;
  border-radius: 5px;
  border: none;
  background-color: #FF0000;
}
.main-text1-descriptionUnderButton {
  font-family: 'Open_Sans', sans-serif;
  font-weight: normal;
  font-size: 14px;
  margin-top: 37px;
  color: #4F4F4F;
}
.main-text2 {
  background: #F6F6F6 url(../img/fon/3.png);
  background-repeat: no-repeat;
  background-position: 86% bottom;
  position: relative;
  text-align: left;
}
.main-text2:focus {
  outline: none !important;
}
.main-text2 .container {
  height: 90vh;
}
.main-text2-head {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 38px;
  margin-bottom: 20px;
  padding-top: 130px;
}
.main-text2-headForAdaptiv767 {
  display: none;
}
.main-text2-descriptionForAdaptiv767 {
  display: none;
}
.main-text2-description {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  padding-top: 20px;
  color: #0B7ED6;
}
.main-text2-dream {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 69px;
}
.main-text2-btn {
  font-size: 14px;
  color: #fff;
  padding: 14px 35px;
  width: 160px;
  height: 50px;
  border-radius: 5px;
  border: none;
  background-color: #FF0000;
}
.main-text2-descriptionUnderButton {
  font-family: 'Open_Sans', sans-serif;
  font-weight: normal;
  font-size: 14px;
  margin-top: 37px;
  color: #4F4F4F;
}
.main-text3 {
  background: #F6F6F6 url(../img/fon/4.png);
  background-repeat: no-repeat;
  background-position: 86% bottom;
  position: relative;
  text-align: left;
}
.main-text3:focus {
  outline: none !important;
}
.main-text3 .container {
  height: 90vh;
}
.main-text3-head {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 38px;
  margin-bottom: 30px;
  padding-top: 130px;
}
.main-text3-headForAdaptiv767 {
  display: none;
}
.main-text3-descriptionForAdaptiv767 {
  display: none;
}
.main-text3-description {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  color: #0B7ED6;
}
.main-text3-respect {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 68px;
}
.main-text3-btn {
  font-size: 14px;
  color: #fff;
  padding: 15px 30px;
  border-radius: 5px;
  border: none;
  background-color: #FF0000;
  width: 160px;
  height: 50px;
}
.main-text3-descriptionUnderButton {
  font-family: 'Open_Sans', sans-serif;
  font-weight: normal;
  font-size: 14px;
  margin-top: 37px;
  color: #4F4F4F;
}
.single-item {
  height: 100vh;
  padding: 0;
  margin: 0;
}
.single-item > .slick-dots {
  bottom: 3%;
}
.p__next img {
  position: absolute;
  width: 42px;
  height: 42px;
  margin-right: 2%;
  margin-top: 0%;
  right: 0;
  bottom: 50%;
  transform: translateY(50px);
}
.p__prev img {
  position: absolute;
  width: 42px;
  height: 42px;
  margin-left: 2%;
  margin-top: 0%;
  left: 0;
  bottom: 50%;
  transform: translateY(50px);
}
.gallereya {
  display: none;
}
.calc {
  height: 100vh;
  background: #F0F0F0;
  /*Стилизация познука*/
  /*Стилизация радио кнопок*/
}
.calc-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.calc-descriptionForAdaptiv767 {
  display: none;
}
.calc-parametri {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 552px;
}
.calc h2 {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 34px;
  padding-top: 62px;
}
.calc-parametri {
  background: url(../img/calc/Ellipse.png) no-repeat;
  background-size: cover;
}
.calc-parametri h4 {
  font-weight: normal;
  font-size: 26px;
  font-weight: 400;
  padding-bottom: 60px;
}
.calc-optionForAdaptiv767 {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.calc-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 25%;
}
.calc-block h3 {
  font-weight: normal;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
}
.calc-block img {
  width: 54px;
  height: 54px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.calc #forma {
  /*width: 500px;
		height: 395px;*/
}
.calc-raschet {
  background: #fff;
  height: 500px;
  width: 468px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.calc-tip {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /*&:before{
				    content: '';
    display: block;
    position: absolute;
    width: 47%;
    height: 1px;
    background-color: #757575;
    margin-left: 48%;
    margin-top: 23px;
			}*/
}
.calc-tip:after {
  content: "";
  display: block;
  border-style: solid;
  border-width: 6px 5px 0 5px;
  border-color: #0B7ED6 transparent transparent transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2.5rem;
  z-index: 1;
}
.calc-tip span {
  font-weight: normal;
  font-size: 16px;
}
.calc-tip__wrapper:before {
  content: '';
  position: absolute;
  display: block;
  top: 27px;
  height: 1px;
  width: 185px;
  background: #757575;
}
.calc-tip select {
  width: 185px;
  position: relative;
  background: none;
  appearance: none;
  /*Уберает стандартные стили*/
  font-family: inherit;
  border: none;
  color: #0B7ED6;
  font-weight: bold;
}
.calc-tip select:focus {
  outline: none !important;
}
.calc-tip select:hover {
  cursor: pointer;
}
.calc-tip option {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}
.calc-remont {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.calc-remont:after {
  content: "";
  display: block;
  border-style: solid;
  border-width: 6px 5px 0 5px;
  border-color: #0B7ED6 transparent transparent transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2.5rem;
  z-index: 1;
}
.calc-remont span {
  font-weight: normal;
  font-size: 16px;
  margin-right: 148px;
}
.calc-remont select {
  width: 185px;
  background: none;
  appearance: none;
  /*Уберает стандартные стили*/
  font-family: inherit;
  border: none;
  color: #0B7ED6;
  font-weight: bold;
}
.calc-remont select:focus {
  outline: none !important;
}
.calc-remont select:hover {
  cursor: pointer;
}
.calc-remont option {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}
.calc-ploshad {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.calc-ploshad span {
  font-size: 16px;
}
.calc-ploshad-res {
  display: inline-block;
  padding: 1px 1px;
  background-color: #C4C4C4;
  color: #0B7ED6;
  font-weight: bold;
}
.calc-ploshad-pl {
  width: 356px;
}
.calc .range-handle {
  height: 15px;
  width: 15px;
  top: -4px;
  background-color: #0B7ED6;
}
.calc .range-bar {
  width: 58%;
  margin-right: 22px;
  height: 8px;
  background-color: #C4C4C4;
}
.calc-range {
  width: 20px;
}
.calc-sroki {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.calc-sroki:after {
  content: "";
  display: block;
  border-style: solid;
  border-width: 6px 5px 0 5px;
  border-color: #0B7ED6 transparent transparent transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2.5rem;
  z-index: 1;
}
.calc-sroki option {
  font-size: 18px;
  font-weight: 600;
}
.calc-sroki span {
  font-weight: normal;
  font-size: 16px;
}
.calc-sroki select {
  width: 185px;
  background: none;
  appearance: none;
  /*Уберает стандартные стили*/
  font-family: inherit;
  border: none;
  color: #0B7ED6;
  font-weight: bold;
}
.calc-sroki select:focus {
  outline: none !important;
}
.calc-sroki select:hover {
  cursor: pointer;
}
.calc-otpravka {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.calc-otpravka:before {
  content: '';
  display: block;
  position: absolute;
  width: 402px;
  height: 1px;
  background-color: #757575;
  margin-left: 1.2%;
  margin-top: 108px;
}
.calc-otpravka-colm {
  display: flex;
  flex-direction: column;
  margin-right: 115px;
}
.calc-otpravka span {
  font-weight: normal;
  font-size: 16px;
}
.calc-otpravka select {
  width: 150px;
}
.calc-otpravka-button {
  display: flex;
  flex-direction: row;
}
.calc-radio {
  position: relative;
}
.calc-radio label:before {
  content: '';
  position: absolute;
  display: block;
  width: 15px;
  height: 15px;
  border: 1px solid #0B7ED6;
  border-radius: 90px;
  background-color: opacity;
  margin-left: -18px;
  margin-top: 5px;
}
.calc-radio label:after {
  content: '';
  position: absolute;
  opacity: 0;
  display: block;
  width: 9px;
  height: 9px;
  background-color: #0B7ED6;
  border-radius: 90px;
  margin-left: -30.2px;
  margin-top: -17px;
}
.calc .calc-radio input:checked + .calc-radio label:before {
  border-color: #0B7ED6;
}
.calc .calc-radio input:checked + .calc-radio label:after {
  opacity: 1;
}
.calc-btn2 {
  font-size: 14px;
  color: #fff;
  padding: 15px 30px;
  border-radius: 5px;
  border: none;
  background-color: #FF0000;
  width: 200px;
  height: 50px;
}
.calc-btn2:focus {
  outline: none !important;
}
.calc-btn1 {
  font-size: 14px;
  margin-right: 22px;
  color: #4F4F4F;
  padding: 15px 30px;
  border-radius: 5px;
  border: 1px solid #4F4F4F;
  background-color: #F6F6F6;
  width: 200px;
  height: 50px;
}
.calc-btn1:focus {
  outline: none !important;
}
.calc-soglasie {
  font-size: 11px;
  color: #757575;
}
/*Второй экран о Компании*/
.second {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.second-header {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 75px;
  color: #0B7ED6;
  text-align: center;
}
.second-forAdaptiv767 {
  display: none;
}
.second-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.second-main-left {
  width: 40%;
}
.second-main-left-head {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
}
.second-main-left-description {
  font-size: 16px;
}
.second-main-right ul {
  list-style: none;
  padding: 0;
}
.second-main-right ul li {
  position: relative;
  padding-bottom: 15px;
}
.second-main-right ul li:before {
  content: '';
  position: absolute;
  left: -38.5px;
  display: block;
  transform: translateY(18%);
  width: 20px;
  height: 20px;
  background: url(../img/second/icon.png) center no-repeat;
  background-size: contain;
}
.second-main-right h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
}
.second-main-right p {
  font-size: 16px;
}
.second-main-right-list {
  color: #000;
  text-decoration: none;
}
.second-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  margin-top: 55px;
}
.second-footer p {
  font-weight: bold;
  font-size: 42px;
  color: #0B7ED6;
}
.second-footer span {
  font-size: 15px;
  color: #000;
  font-weight: normal;
}
/*Третий экран Цены*/
.price {
  background-color: #F0F0F0;
}
.price-option {
  /*display: flex !important;*/
}
.price-option-item {
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  height: 515px !important;
  margin: 0 10px;
  background-color: #fff;
  box-shadow: -4px 0px 8px rgba(144, 144, 145, 0.15);
}
.price-option-item ul {
  list-style: none;
  padding: 0;
}
.price-option-item ul li {
  position: relative;
  margin-left: 50px;
}
.price-option-item ul li:before {
  content: '';
  position: absolute;
  left: -33px;
  width: 20px;
  height: 20px;
  background: url(../img/price/icon.png) center no-repeat;
  background-size: contain;
}
.price-option-item ul li a {
  color: black;
  font-family: 'Open_Sans', sans-serif;
  font-weight: normal;
  font-size: 14px;
}
.price-option-item h5 {
  font-family: 'Open_Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #0B7ED6;
  margin-left: 27px;
}
.price-option-backgrounds {
  width: 100%;
  height: 221px;
  display: block;
}
.price-option-rough {
  background: url(../img/price/1.png) center no-repeat;
}
.price-option-capital {
  background: url(../img/price/2.png) center no-repeat;
}
.price-option-euro {
  background: url(../img/price/3.png) center no-repeat;
}
.price-option-description {
  font-family: 'Open_Sans', sans-serif;
  font-weight: normal;
  font-size: 14px;
  margin-left: 27px;
}
.price-option-price {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 18px;
  margin-left: 27px;
}
.price-header {
  display: block;
  text-align: center;
  margin-bottom: 59.3px;
}
.price-header span {
  color: #0B7ED6;
}
.price-paragraf {
  display: none;
}
.price-footer {
  display: block;
  text-align: right;
}
/*Четвертый экран*/
.dignity-card {
  display: flex;
  flex-wrap: wrap;
}
.dignity-card-contract {
  width: 500px;
  border: 2px solid black;
}
.dignity-card-contract ul {
  list-style: none;
  padding: 0;
}
.dignity-card-contract ul li {
  position: relative;
  padding-bottom: 15px;
}
.dignity-card-contract ul li:before {
  content: '';
  position: absolute;
  left: -38.5px;
  display: block;
  transform: translateY(18%);
  width: 20px;
  height: 20px;
  background: url(../img/second/icon.png) center no-repeat;
  background-size: contain;
}
.dignity-card-master {
  width: 500px;
  border: 2px solid black;
}
.dignity-card-master ul {
  list-style: none;
  padding: 0;
}
.dignity-card-master ul li {
  position: relative;
  padding-bottom: 15px;
}
.dignity-card-master ul li:before {
  content: '';
  position: absolute;
  left: -38.5px;
  display: block;
  transform: translateY(18%);
  width: 20px;
  height: 20px;
  background: url(../img/second/icon.png) center no-repeat;
  background-size: contain;
}
.dignity-card-dilivery {
  width: 500px;
  border: 2px solid black;
}
.dignity-card-dilivery ul {
  list-style: none;
  padding: 0;
}
.dignity-card-dilivery ul li {
  position: relative;
  padding-bottom: 15px;
}
.dignity-card-dilivery ul li:before {
  content: '';
  position: absolute;
  left: -38.5px;
  display: block;
  transform: translateY(18%);
  width: 20px;
  height: 20px;
  background: url(../img/second/icon.png) center no-repeat;
  background-size: contain;
}
.dignity-card-quality {
  width: 500px;
  border: 2px solid black;
}
.dignity-card-quality ul {
  list-style: none;
  padding: 0;
}
.dignity-card-quality ul li {
  position: relative;
  padding-bottom: 15px;
}
.dignity-card-quality ul li:before {
  content: '';
  position: absolute;
  left: -38.5px;
  display: block;
  transform: translateY(18%);
  width: 20px;
  height: 20px;
  background: url(../img/second/icon.png) center no-repeat;
  background-size: contain;
}
/*!!!!!!!!!!!!!Примеры качества разных этапов ремонта!!!!!!!!!!!!!!!!*/
.qualityExamples {
  height: 100vh;
}
.qualityExamples-header {
  margin-top: 30px;
  margin-bottom: 36px;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
}
.qualityExamples-header span {
  color: #0B7ED6;
}
/*Верхний слайдер*/
.examples {
  margin-bottom: 50px;
}
.examples-slider[data-examples='1'],
.examples [data-examples='2'],
.examples [data-examples='3'],
.examples [data-examples='4'] {
  width: 105px ;
  margin-left: 5px;
  margin-bottom: 5px;
  box-shadow: 1px 1px 4px rgba(91, 114, 157, 0.25);
}
.examples-slider[data-examples='1']:hover,
.examples [data-examples='2']:hover,
.examples [data-examples='3']:hover,
.examples [data-examples='4']:hover {
  cursor: pointer;
  background-color: #0B7ED6;
}
.examples-slider[data-examples='1'] p,
.examples [data-examples='2'] p,
.examples [data-examples='3'] p,
.examples [data-examples='4'] p {
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  font-weight: normal;
  position: relative;
  margin-left: 41px;
}
.examples-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -92px;
  z-index: 9;
  height: 42px;
  width: 42px;
  border: none;
  background: url(../img/otzizvi/right.png) center no-repeat;
  background-size: 100%;
}
.examples-next:focus {
  outline: none !important;
}
.examples-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -92px;
  z-index: 9;
  height: 42px;
  width: 42px;
  border: none;
  background: url(../img/otzizvi/left.png) center no-repeat;
  background-size: 100%;
}
.examples-prev:focus {
  outline: none !important;
}
.examplesDescription-next {
  position: absolute;
  top: 50%;
  /*transform: scaleY(-50%);*/
  right: -16px;
  z-index: 9;
  height: 42px;
  width: 42px;
  border: none;
  background: url(../img/otzizvi/right.png) center no-repeat;
  background-size: 100%;
}
.examplesDescription-next:focus {
  outline: none !important;
}
.examplesDescription-prev {
  position: absolute;
  top: 50%;
  left: -16px;
  z-index: 9;
  height: 42px;
  width: 42px;
  border: none;
  background: url(../img/otzizvi/left.png) center no-repeat;
  background-size: 100%;
}
.examplesDescription-prev:focus {
  outline: none !important;
}
.examplesDescription__wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.examplesDescription-slider {
  width: 581px;
  display: inline-block;
}
.examplesDescription-slider-picture {
  width: 581px;
  height: 302px;
}
.examplesDescription-details {
  width: 40%;
  height: 302px;
  display: inline-block;
}
.examplesDescription-details-btn {
  font-size: 14px;
  color: #fff;
  padding: 15px 30px;
  border-radius: 5px;
  border: none;
  background-color: #FF0000;
  width: 215px;
  height: 50px;
}
.examplesDescription-details-btn:focus {
  outline: none !important;
}
.examplesDescription h5 {
  font-family: 'Open_Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
}
.examplesDescription span {
  font-family: 'Open_Sans', sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: #0B7ED6;
  margin-top: 15px;
}
.examplesDescription p {
  font-family: 'Open_Sans', sans-serif;
  font-weight: normal;
  font-size: 16px;
  position: relative;
  margin-left: 38px;
  margin-top: 15px;
}
.examplesDescription-count {
  text-align: center;
  width: 581px;
  margin-top: 10px;
  font-family: 'Open_Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
}
.examplesDescription-count__current {
  color: #0B7ED6;
  font-size: 18px;
}
/*!!!!!!!!!!!!!!Галерея работ!!!!!!!!!!!!!*/
.galleryOfWorks {
  height: 110vh;
}
.galleryOfWorks-header {
  margin-top: 30px;
  margin-bottom: 36px;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
}
.galleryOfWorks-header span {
  color: #0B7ED6;
}
/*Верхний слайдер*/
.tunnel {
  margin-bottom: 45px;
  /*width: 80%;*/
}
.tunnel-slider.slick-current {
  background-color: #0B7ED6;
}
.tunnel-slider[data-target='1'],
.tunnel [data-target='2'],
.tunnel [data-target='3'],
.tunnel [data-target='4'] {
  /*width: 105px !important ;*/
  display: inline-block;
  margin-left: 4px;
  margin-bottom: 5px;
  box-shadow: 1px 1px 4px rgba(91, 114, 157, 0.25);
  /*&:hover{
			cursor: pointer;
			background-color: #0B7ED6;
		}*/
  /*height: 170px !important;
		box-shadow: 0px 4px 8px rgba(91, 114, 157, 0.25);
		margin-right: 13px;*
		display: inline-block;*/
}
.tunnel-slider[data-target='1'] img,
.tunnel [data-target='2'] img,
.tunnel [data-target='3'] img,
.tunnel [data-target='4'] img {
  width: 100%;
}
.tunnel-slider[data-target='1'] h6,
.tunnel [data-target='2'] h6,
.tunnel [data-target='3'] h6,
.tunnel [data-target='4'] h6 {
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  font-weight: normal;
  margin-left: 10px;
  margin-top: 10px;
}
.tunnel-slider[data-target='1'] span,
.tunnel [data-target='2'] span,
.tunnel [data-target='3'] span,
.tunnel [data-target='4'] span {
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  font-weight: normal;
  position: relative;
  margin-left: 41px;
}
.tunnel-slider[data-target='1'] span:before,
.tunnel [data-target='2'] span:before,
.tunnel [data-target='3'] span:before,
.tunnel [data-target='4'] span:before {
  content: "";
  position: absolute;
  background: url(../img/galleryOfWorks/tunnel/ploshad.png);
  background-size: contain;
  width: 16px;
  height: 16px;
  left: -31px;
  top: 50%;
  transform: translateY(-50%);
}
.tunnel-slider[data-target='1'] p,
.tunnel [data-target='2'] p,
.tunnel [data-target='3'] p,
.tunnel [data-target='4'] p {
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  font-weight: normal;
  position: relative;
  margin-left: 41px;
}
.tunnel-slider[data-target='1'] p:before,
.tunnel [data-target='2'] p:before,
.tunnel [data-target='3'] p:before,
.tunnel [data-target='4'] p:before {
  content: "";
  position: absolute;
  background: url(../img/galleryOfWorks/tunnel/time.png);
  background-size: contain;
  width: 13px;
  height: 13px;
  left: -31px;
  top: 50%;
  transform: translateY(-50%);
}
.tunnel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -92px;
  z-index: 9;
  height: 42px;
  width: 42px;
  border: none;
  background: url(../img/otzizvi/right.png) center no-repeat;
  background-size: 100%;
}
.tunnel-next:focus {
  outline: none !important;
}
.tunnel-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -92px;
  z-index: 9;
  height: 42px;
  width: 42px;
  border: none;
  background: url(../img/otzizvi/left.png) center no-repeat;
  background-size: 100%;
}
.tunnel-prev:focus {
  outline: none !important;
}
.gallery-next {
  position: absolute;
  top: 50%;
  /*transform: scaleY(-50%);*/
  right: -16px;
  z-index: 9;
  height: 42px;
  width: 42px;
  border: none;
  background: url(../img/otzizvi/right.png) center no-repeat;
  background-size: 100%;
}
.gallery-next:focus {
  outline: none !important;
}
.gallery-prev {
  position: absolute;
  top: 50%;
  left: -16px;
  z-index: 9;
  height: 42px;
  width: 42px;
  border: none;
  background: url(../img/otzizvi/left.png) center no-repeat;
  background-size: 100%;
}
.gallery-prev:focus {
  outline: none !important;
}
.gallery__wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.gallery-slider {
  width: 581px;
  display: inline-block;
}
.gallery-slider-picture {
  width: 581px;
  height: 302px;
}
.gallery-description {
  width: 40%;
  height: 302px;
  display: inline-block;
}
.gallery-description h5 {
  font-family: 'Open_Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
}
.gallery-description span {
  font-family: 'Open_Sans', sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: #0B7ED6;
  margin-top: 15px;
}
.gallery-description p {
  font-family: 'Open_Sans', sans-serif;
  font-weight: normal;
  font-size: 16px;
  position: relative;
  margin-left: 38px;
  margin-top: 15px;
}
.gallery-description p:before {
  content: "";
  position: absolute;
  background: url(../img/galleryOfWorks/tunnel/ploshad.png);
  background-size: contain;
  width: 23px;
  height: 23px;
  left: -38px;
  top: 58%;
  transform: translateY(-50%);
}
.gallery-description p.gallery-description-time {
  font-family: 'Open_Sans', sans-serif;
  font-weight: normal;
  font-size: 16px;
  position: relative;
  margin-left: 38px;
  margin-top: 15px;
}
.gallery-description p.gallery-description-time:before {
  content: "";
  position: absolute;
  background: url(../img/galleryOfWorks/tunnel/time.png);
  background-size: contain;
  width: 18px;
  height: 18px;
  left: -38px;
  top: 50%;
  transform: translateY(-50%);
}
.gallery-count {
  text-align: center;
  width: 581px;
  margin-top: 10px;
  font-family: 'Open_Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
}
.gallery-count__current {
  color: #0B7ED6;
  font-size: 18px;
}
.active {
  display: block;
}
.hide {
  display: none;
}
/*Всплывающие окна*/
.popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  overflow-y: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  background-attachment: fixed;
}
.popup input {
  display: block;
  text-align: left;
  padding-left: 30px;
  width: 280px;
  margin-top: 1rem;
  height: 57px;
}
.popup-close {
  position: absolute;
  top: 0rem;
  right: 2rem;
  width: 2rem;
  text-align: center;
  border: none;
  background-color: transparent;
  font-size: 3rem;
  color: #000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.popup-close:focus {
  outline: none !important;
}
.popup-content {
  position: fixed;
  left: 50%;
  top: 50%;
  background-color: #fff;
  transform: translate(-50%, -50%);
  padding: 1rem;
  width: 728px;
  height: 569px;
  text-align: center;
  padding: 6rem 10rem;
}
.popup-form {
  margin-top: 3rem;
  padding: 0;
}
.popup-form-input {
  background-color: #fff;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 16px;
}
.popup-form-btn {
  font-size: 18px;
  color: #fff;
  width: 280px;
  height: 57px;
  margin-top: 3rem;
  text-align: left;
  margin-top: 1rem;
  padding-left: 30px;
  padding: 15px 30px;
  border-radius: 5px;
  margin-left: -130px;
  border: none;
  background-color: #FF0000;
}
.popup-form-check-input {
  position: absolute;
  margin-left: -365px;
  margin-top: 23px !important;
  height: 16px !important;
}
.popup-form-label {
  margin-top: 2rem;
  padding-left: 3rem;
  text-align: left;
  font-size: 12px;
}
.popup-header {
  color: #0B7ED6;
  font-size: 24px;
  font-weight: 600;
  text-align: left;
}
.popup-header-p {
  font-size: 14px;
  font-weight: 400;
  padding-top: 15px;
  text-align: left;
}
.otsivi {
  height: 100vh;
  background: url(../img/otzizvi/Ellipse23.png) 62% 66% no-repeat, url(../img/otzizvi/Ellipse24.png) 23% 24% no-repeat;
  position: relative;
}
.otsivi-next img {
  position: absolute;
  width: 42px;
  height: 42px;
  margin-right: 10%;
  margin-top: 0%;
  right: 0;
  bottom: 50%;
  transform: translateY(50px);
}
.otsivi-prev img {
  position: absolute;
  width: 42px;
  height: 42px;
  margin-left: 10%;
  margin-top: 0%;
  left: 0;
  bottom: 50%;
  transform: translateY(50px);
}
.otsivi-header {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 62px;
  padding-top: 62px;
}
.otsivi-header span {
  color: #0B7ED6;
}
.otsivi-main {
  position: relative;
  max-width: 900px;
  margin: 20px auto;
  padding-bottom: 50px;
}
.otsivi-main-photo img {
  max-width: 130px;
  width: 100%;
  /*filter: drop-shadow(0 0 4px red);*/
}
.otsivi-main-photo {
  padding-top: 20px;
  padding-left: 80px;
  padding-right: 80px;
}
.otsivi-main-photo.slick-current {
  filter: drop-shadow(5px 8px 12px red);
}
/*.project__next img{
	position: absolute;
  width:42px;
  height:42px;
  margin-left: 52%;
  margin-top: 7%;
}*/
/*.project__prev img{
	position: absolute;
  width:42px;
  height:42px;
  margin-left: 106px;
}*/
.slick-slide {
  /*padding-top:20px;
padding-left: 80px;
padding-right: 80px;*/
}
.slick-slide:focus {
  outline: none !important;
}
.slick-center {
  padding-top: 0;
}
.slick-center img {
  max-width: 160px;
}
.slick-dots {
  text-align: center;
  display: flex;
  justify-content: center;
  list-style: none !important;
}
.slick-dots button {
  background: #DEDEDE !important;
  border: none;
  border-radius: 50%;
  height: 5px !important;
  width: 5px !important;
  margin: 5px;
  outline: none;
}
.slick-dots li[class="slick-active"] button {
  background: #0B7ED6 !important;
}
.slick-dots li button::before {
  display: none;
}
/*.slick-track{
	height: 325px;
}*/
/*Часто задаваемые вопросы*/
.otveti {
  height: 100vh;
}
.otveti-header {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  color: #000 !important;
}
.otveti-header span {
  color: #0B7ED6 !important;
}
.fon {
  height: 100vh;
  background-color: #F6F6F6;
  position: absolute;
}
.fon2 {
  background: url(../img/faq/faq.png) no-repeat;
  position: absolute;
  height: 100vh;
}
.accordion {
  margin-top: 80px;
  margin-right: 307px;
}
.fag-link {
  font-size: 14px;
  font-weight: 600;
  color: #000 !important;
}
.ui-corner-all:before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 12px solid #0B7ED6;
  margin-left: 90%;
  margin-top: 5px;
}
.ui-accordion-header-active:focus {
  outline: none !important;
}
.ui-accordion-header-active:hover {
  cursor: pointer;
}
.ui-accordion-header-active:before {
  position: absolute;
  display: block;
  content: '';
  border-left: 8px solid transparent ;
  border-right: 8px solid transparent ;
  border-bottom: 12px solid #0B7ED6;
  margin-left: 90%;
  margin-top: 5px;
}
.card-body {
  font-size: 14px;
  font-weight: 400;
  padding-top: 40px;
}
.card-body:before {
  content: '';
  display: block;
  position: absolute;
  width: 91%;
  height: 2px;
  background-color: #E9E9E9;
  margin-left: 1%;
  margin-top: -25px;
}
.card-header a:hover {
  list-style: none;
  text-decoration: none;
}
.card {
  margin-bottom: 22px;
  border: none;
  box-shadow: 5px 5px 10px #E9E9E9;
}
.card-header {
  border: none;
  background-color: #fff;
}
/*Подвал сайта*/
.footer {
  height: 50vh;
  background: url(../img/footer/Rectangle.png) no-repeat;
  background-size: cover;
  margin-top: 60px;
  position: relative;
}
.footer-contact {
  width: 315px;
  height: 255px;
  background: #fff;
  padding: 38px;
  position: absolute;
  margin-top: 2%;
  margin-left: 10%;
}
.footer-contact h4 {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
}
.footer-contact p {
  font-weight: normal;
  font-size: 14px;
}
.footer-tel {
  position: relative;
}
.footer-tel:before {
  content: "";
  position: absolute;
  display: block;
  top: 3%;
  left: -29px;
  width: 24px;
  height: 24px;
  background: url(../img/footer/phone.png) center no-repeat;
  background-size: contain;
}
.footer-chas {
  position: relative;
}
.footer-chas:before {
  content: "";
  position: absolute;
  display: block;
  top: 3%;
  left: -29px;
  width: 24px;
  height: 24px;
  background: url(../img/footer/clock.png) center no-repeat;
  background-size: contain;
}
.footer-mesto {
  position: relative;
}
.footer-mesto:before {
  content: "";
  position: absolute;
  display: block;
  top: 3%;
  left: -29px;
  width: 24px;
  height: 24px;
  background: url(../img/footer/location.png) center no-repeat;
  background-size: contain;
}
.footer-seti {
  margin-left: 42px;
}
.foot {
  height: 10vh;
  background: #4F4F4F;
}
.foot-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}
.foot-header-logo img {
  padding-top: 10px;
}
.foot-header-menu {
  width: 60%;
}
.foot-header-menu ul {
  list-style: none;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.foot-header-menu ul:hover {
  text-decoration: none;
}
.foot-header-menu a {
  color: #fff;
}
.foot-header-menu a:hover {
  text-decoration: none;
}
.block-active {
  display: block;
  height: 200px;
  background-color: red;
}
@media (max-width: 767px) {
  .container {
    max-width: 764px;
  }
  .main {
    height: 100vh;
    /*Меню гамбургер*/
    /*Основной контент*/
  }
  .main-fon {
    display: block;
    background-color: black;
    opacity: 0.8;
    height: 100vh;
    width: 50%;
  }
  .main-content {
    display: flex;
    justify-content: space-between;
  }
  .main-menuAdaptiv ul {
    list-style: none;
    padding-left: 0;
    margin-left: 50px;
    padding-top: 60px;
  }
  .main-menuAdaptiv li {
    padding-bottom: 20px;
  }
  .main-menuAdaptiv a {
    font-family: 'Open_Sans', sans-serif;
    font-weight: normal;
    font-size: 14px;
  }
  .main-menuAdaptiv a:hover {
    color: #0B7ED6;
    text-decoration: none;
  }
  .main-menuAdaptiv-link {
    color: #111111;
  }
  .main-contactAdaptiv-tel {
    position: relative;
    padding-left: 50px;
    margin-bottom: 10px;
    font-family: 'Open_Sans', sans-serif;
    font-weight: normal;
    font-size: 14px;
  }
  .main-contactAdaptiv-tel:before {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    background: url(../img/menuAdaptiv/phone.png) center no-repeat;
    margin-left: -37px;
  }
  .main-contactAdaptiv-grafik {
    position: relative;
    padding-left: 50px;
    margin-bottom: 10px;
    font-family: 'Open_Sans', sans-serif;
    font-weight: normal;
    font-size: 14px;
  }
  .main-contactAdaptiv-grafik:before {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    background: url(../img/menuAdaptiv/clock.png) center no-repeat;
    margin-left: -37px;
  }
  .main-contactAdaptiv-address {
    position: relative;
    padding-left: 50px;
    margin-bottom: 23px;
    font-family: 'Open_Sans', sans-serif;
    font-weight: normal;
    font-size: 14px;
  }
  .main-contactAdaptiv-address:before {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    background: url(../img/menuAdaptiv/location.png) center no-repeat;
    margin-left: -37px;
  }
  .main-socialNetw {
    text-align: center;
    padding-bottom: 20px;
  }
  .main-socialNetw img {
    margin-right: 4px;
  }
  .main-menuAdaptiv__wrapper {
    display: block;
    position: fixed;
    right: -100%;
    z-index: 5;
    height: 100%;
    width: 100%;
    transition: all 0.3s ease 0s;
  }
  .main-menuAdaptiv__wrapper.active {
    right: 0;
  }
  .main-position {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    width: 410px;
    background-color: white;
  }
  .main-header {
    /*&-menuAdaptiv.active{
	position: fixed;
	z-index: 8;

	}*/
  }
  .main-header-menu {
    display: none;
  }
  .main-header-logo {
    order: 0;
  }
  .main-header-tel {
    display: none;
  }
  .main-header-telAdaptiv {
    display: inline-block;
    order: 1;
    font-family: 'Open_Sans', sans-serif;
    font-weight: normal;
    font-size: 13px;
  }
  .main-header-telAdaptiv span {
    font-family: 'Open_Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
  }
  .main-header-contact {
    order: 2;
    width: 146px;
  }
  .main-header-burger {
    display: block;
    order: 3;
    position: relative;
    width: 24px;
    height: 24px;
    z-index: 6;
  }
  .main-header-burger span {
    position: absolute;
    background-color: #000;
    left: 0;
    width: 100%;
    height: 2px;
    top: 11px;
    transition: all 0.3s ease 0s;
  }
  .main-header-burger:before {
    content: '';
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    top: 0px;
    transition: all 0.3s ease 0s;
  }
  .main-header-burger:after {
    content: '';
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0px;
    transition: all 0.3s ease 0s;
  }
  .main-header-burger.active:before {
    transform: rotate(45deg);
    top: 12px;
  }
  .main-header-burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .main-header-burger.active span {
    transform: scale(0);
  }
  .main-text {
    background-size: 363px 363px;
    background-position: 112% bottom;
  }
  .main-text h1 {
    font-weight: bold;
    font-size: 30px;
    padding-top: 40px;
    margin-bottom: 5px;
  }
  .main-text span {
    font-weight: 600;
    font-size: 18px;
  }
  .main-text p {
    margin-top: 25px;
    margin-bottom: 105px;
    font-weight: normal;
    font-size: 14px;
  }
  .main-text .p__next img {
    display: none;
  }
  .main-text .p__prev img {
    display: none;
  }
  .main-text1 {
    /*p.adaptiv767{
	margin-top: 31px;
	margin-bottom: 10px;
	}
	p.adaptivTwo757{
	margin-bottom: 53px;
	}*/
    background-position: 112% bottom;
    background-size: 363px 363px;
    position: relative;
    text-align: left;
  }
  .main-text1-head {
    display: none;
  }
  .main-text1-description {
    display: none;
  }
  .main-text1-headForAdaptiv767 {
    font-family: 'Helvetica Neue', sans-serif;
    display: block;
    color: #0B7ED6;
    font-weight: bold;
    font-size: 30px;
    padding-top: 55px;
    margin-bottom: 30px;
  }
  .main-text1-descriptionForAdaptiv767 {
    font-family: 'Raleway', sans-serif;
    display: inline;
    padding-top: 0;
    font-weight: bold;
    font-size: 30px;
    color: black;
    margin-bottom: 31px;
  }
  .main-text1-descriptionDesign {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-size: 14px;
    margin-top: 31px;
    margin-bottom: 10px;
  }
  .main-text1-descriptionDesignTwo {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 53px;
  }
  .main-text1-descriptionUnderButton {
    font-family: 'Raleway', sans-serif;
    margin-top: 33px;
    font-weight: normal;
    font-size: 12px;
  }
  .main-text1-btn {
    padding: 12px 40px;
    font-size: 18px;
    width: 195px;
    height: 50px;
  }
  .main-text1 .p__next img {
    display: none;
  }
  .main-text1 .p__prev img {
    display: none;
  }
  .main-text2 {
    /*p.adaptiv767{
	margin-top: 31px;
	margin-bottom: 10px;
	}
	p.adaptivTwo757{
	margin-bottom: 53px;
	}*/
    background: #F6F6F6 url(../img/fon/3.png) right bottom no-repeat;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 363px 363px;
    position: relative;
    text-align: left;
  }
  .main-text2-head {
    display: none;
  }
  .main-text2-description {
    display: none;
  }
  .main-text2-headForAdaptiv767 {
    font-family: 'Helvetica Neue', sans-serif;
    display: block;
    color: #0B7ED6;
    font-weight: bold;
    font-size: 30px;
    padding-top: 55px;
    margin-bottom: 34px;
  }
  .main-text2-descriptionForAdaptiv767 {
    font-family: 'Raleway', sans-serif;
    display: inline;
    padding-top: 0;
    font-weight: bold;
    font-size: 30px;
    color: black;
    margin-bottom: 29px;
  }
  .main-text2-dream {
    font-weight: normal;
    font-size: 14px;
    margin-top: 29px;
    margin-bottom: 83px;
  }
  .main-text2-descriptionUnderButton {
    font-family: 'Raleway', sans-serif;
    margin-top: 33px;
    font-weight: normal;
    font-size: 12px;
  }
  .main-text2-btn {
    padding: 12px 40px;
    font-size: 18px;
    width: 195px;
    height: 50px;
  }
  .main-text2 .p__next img {
    display: none;
  }
  .main-text2 .p__prev img {
    display: none;
  }
  .main-text3 {
    /*p.adaptiv767{
	margin-top: 31px;
	margin-bottom: 10px;
	}
	p.adaptivTwo757{
	margin-bottom: 53px;
	}*/
    background: #F6F6F6 url(../img/fon/4.png) right bottom no-repeat;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 363px 363px;
    position: relative;
    text-align: left;
  }
  .main-text3-head {
    display: none;
  }
  .main-text3-description {
    display: none;
  }
  .main-text3-headForAdaptiv767 {
    font-family: 'Helvetica Neue', sans-serif;
    display: block;
    color: #0B7ED6;
    font-weight: bold;
    font-size: 30px;
    padding-top: 55px;
    margin-bottom: 34px;
  }
  .main-text3-descriptionForAdaptiv767 {
    font-family: 'Raleway', sans-serif;
    display: inline;
    padding-top: 0;
    font-weight: bold;
    font-size: 30px;
    color: black;
    margin-bottom: 29px;
  }
  .main-text3-respect {
    font-weight: normal;
    font-size: 14px;
    margin-top: 29px;
    margin-bottom: 83px;
  }
  .main-text3-descriptionUnderButton {
    font-family: 'Raleway', sans-serif;
    margin-top: 33px;
    font-weight: normal;
    font-size: 12px;
  }
  .main-text3-btn {
    padding: 12px 40px;
    font-size: 18px;
    width: 195px;
    height: 50px;
  }
  .main-text3 .p__next img {
    display: none;
  }
  .main-text3 .p__prev img {
    display: none;
  }
  .main .single-item > .slick-dots {
    text-align: left;
    padding-left: 265px;
  }
  .main .slick-dots li {
    width: 12px;
    height: 12px;
  }
  /*О компании*/
  .second {
    height: 200vh;
  }
  .second-header {
    margin-top: 25px;
    margin-bottom: 44px;
  }
  .second-main {
    display: none;
  }
  .second-forAdaptiv767 {
    display: flex;
    flex-direction: column;
  }
  .second-forAdaptiv767-head {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 30px;
  }
  .second-forAdaptiv767-description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .second-forAdaptiv767-description-right {
    font-weight: normal;
    font-size: 16px;
    font-family: 'Open_Sans', sans-serif;
  }
  .second-forAdaptiv767-description-left {
    font-weight: normal;
    font-size: 16px;
    text-align: left;
    position: relative;
    font-family: 'Open_Sans', sans-serif;
  }
  .second-forAdaptiv767-description-left:before {
    content: '';
    position: absolute;
    display: block;
    width: 2px;
    left: -14px;
    top: 14px;
    height: 87%;
    background-color: #0B7ED6;
  }
  .second-forAdaptiv767-principles ul {
    list-style: none;
    padding: 0;
  }
  .second-forAdaptiv767-principles ul li {
    position: relative;
    padding-bottom: 15px;
    font-weight: normal;
    font-size: 14px;
    font-family: 'Open_Sans', sans-serif;
  }
  .second-forAdaptiv767-principles ul li a {
    margin-left: 30px;
  }
  .second-forAdaptiv767-principles ul li:before {
    content: '';
    position: absolute;
    left: 0px;
    top: -3px;
    display: block;
    transform: translateY(18%);
    width: 20px;
    height: 20px;
    background: url(../img/second/icon.png) center no-repeat;
    background-size: contain;
  }
  .second-forAdaptiv767-principles h3 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 35px;
  }
  .second-footer {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .second-footer p {
    display: block;
    width: 210px;
  }
  /*Цены на комплексный ремонт*/
  .price-descriptionForAdaptiv757 {
    display: block;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
  }
  .price-option {
    display: flex;
    /*flex-direction: row;*/
  }
  .dignity-card {
    flex-direction: column;
  }
  .galleryOfWorks {
    height: 200vh;
  }
  .galleryOfWorks .gallery__wrapper {
    flex-direction: column-reverse;
    padding: 0px 12px;
  }
  .galleryOfWorks .gallery-description {
    display: block;
    width: 100%;
    height: 50%;
  }
  .galleryOfWorks .gallery-description-left {
    width: 40%;
    display: inline-block;
    margin-left: 0;
    margin-top: 0;
    padding-bottom: 0;
  }
  .galleryOfWorks .gallery-description-right {
    width: 40%;
    display: inline-block;
  }
  .galleryOfWorks .gallery-description-right p {
    margin-left: 0;
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .galleryOfWorks .gallery-slider {
    width: 100%;
  }
  .galleryOfWorks .gallery-slider img {
    width: 100%;
  }
  .calc {
    height: 200vh;
  }
  .calc-container {
    flex-direction: column-reverse;
  }
  .calc-descriptionForAdaptiv767 {
    display: inline;
  }
  .calc-parametri {
    background: none;
  }
  .calc-parametri-description {
    display: none;
  }
  .calc-block {
    display: flex;
    flex-direction: row;
    width: 293px;
    padding: 0;
  }
  .calc-optionForAdaptiv767 {
    width: 645px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
